[user]
	name = Devisha Padmaperuma
	email = devisha.padmaperuma@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICEl/1EotKNy2CtItiaY6qEm198RI41XOsiX7BzlgIO/
[color]
	ui = auto
[core]
	editor = nvim
[init]
  	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
